.home{
    margin: auto;
    padding: 10;
}

.subtitle{
    text-transform: uppercase;
    size: 15px;
    color: #111;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
.sub-desc{
    text-transform: uppercase;
    size: 15px;
    color: #333;
    padding: 10px;
    margin-right: auto;
}
.descr{
    display: inline-block;
}