
.insert label {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    color: #333;
    height: 20px;
    width: 25%;
    margin-top: 10px;
    margin-left: 10px;
    text-align: left;
    clear: both;
   }

   .insert input {
    height: 20px;
    width: 70%;
    border: 1px solid #000;
    margin-top: 10px;
    float: center;
   }