.labels{
    margin: 0px 1px 0px 5px;
    text-transform: uppercase;
}

input[type="text"]{
    margin: 10px 5px 0px 1px;
}
/* 
.body{
	height: 1000px;
	padding: 0;
	margin: 0;
} */

.labels-open {
    padding: 20px 10px;
    width: 200px;
    background-color: black;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin-top: 20px;
    cursor: pointer;
    margin-right: auto;
    margin-left: auto;
    border-radius: 4px;
}

.start{
	padding: 20px 10px;
    width: 200px;
    background-color: #111;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin-top: 20px;
    cursor: pointer;
    margin-right: auto;
    margin-left: auto;
    border-radius: 4px;	
}

.add{
    text-transform: uppercase;
    font-size: 15px;
    background-color: black;
    color: #FFF;
    border-radius: 4px;
    margin: 0px 0px 0px 10px;
}

/* --------------Notification.jsx------------------- */

.errMsg{
    background: rgb(214, 10, 10);
    color: #fff9;
    text-align: center;
    padding: 10px 0;
    letter-spacing: 1.3px;
}

.successMsg{
    background: rgb(9, 158, 54);
    color: #fff9;
    text-align: center;
    padding: 10px 0;
    letter-spacing: 1.3px;
}
